<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="han-init">
  <head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>{{ page.title }}</title>
    <style>
      .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
      }
    </style>
  </head>

  <body class="markdown-body">
    <header><a href="/">笔记</a> <a href="/download.html">下载</a></header>
    <article>{{ content }}</article>
  </body>
</html>
