<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="han-init">
  <head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/Han/3.2.1/han.min.js"></script>
    <link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/Han/3.2.1/han.min.css">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <header><a href="/">笔记</a> <a href="/download.html">下载</a></header>
    <article>{{ content }}</article>
  </body>
</html>
